body, html
{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-align: center;
	vertical-align: middle;
    font-family: 'Roboto', sans-serif;
	background-color:#c5e5fc;
}

#bt,#pmt{font-size:40px;}
#l{background-color:#FAA;}
#w{background-color:#AFA;}
#bt{background-color:#A44;}
div{font-weight:bold;}
table{display:inline-block;}

#bt:hover
{
	color:#FFF;
	background-color:#F11;
}

#lg
{
	max-width:100vmin;
	max-height:100vmin;
}

#cT
{
	margin-left:auto;
	margin-right:auto;
}

.cb
{
	background-color:#000;
	width:0.1px;
}

.im
{
	height:15vmin;
	width:25vw;
	padding:5px;
}

.co
{
	height:8vmin;
	width:8vmin;
	padding:5px;
}

.Hdim
{
    height: 100%;
    background: no-repeat center;
    background-size: cover;
}

#pmt
{
	display:none;
	position:fixed;
	z-index:10;
	width:80vw;
	left:10vw;
	top:15vh;
	background-color:#AAF;
	padding:2.5vmin;
	border-radius:5vmin;
}

#w, #l
{
	z-index:0;
	width:60vw;
	padding: 2.5vmin;
	border-radius:5vmin;
	margin-left:20vw;
}

#l:hover
{
	background-color:#D66;
	color:#DDD;
}

#l:active
{
	background-color:#A44;
	color:#FFF;
}

#w:hover
{
	background-color:#6D6;
	color:#DDD;
}

#w:active
{
	background-color:#4A4;
	color:#FFF;
}
